<main>
  <div class="options-panel">
    <div class="options-panel__item align-self-end">
      <label class="form-label">Имя:</label>
      <input class="form-input" type="text" />
    </div>
    <div class="options-panel__item align-self-end">
      <label class="form-label">Врач:</label>
      <select class="form-input select" [(ngModel)]="selectedDoctorId">
        <option [ngValue]="null" disabled>Выберите врача</option>
        <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">{{ doctor.fullName }}</option>
      </select>
    </div>
    <div class="options-panel__item align-self-end">
      <label class="form-label">Дата:</label>
      <input class="form-input" type="date" />
    </div>
    <div class="options-panel__item align-self-end">
      <label class="form-label">Жалобы:</label>
      <input class="form-input" type="text" />
    </div>
    <a class="form-input clickable align-self-end">Добавить</a>
  </div>

  <div class="table">
    <table mat-table [dataSource]="records">
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td class="inline-border" mat-cell *matCellDef="let record">{{ record.patientFullName }}</td>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef>Врач</th>
        <td class="inline-border" mat-cell *matCellDef="let record">
          {{ record.doctor.fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Дата</th>
        <td class="inline-border" mat-cell *matCellDef="let record">{{ record.receptionDate }}</td>
      </ng-container>

      <ng-container matColumnDef="complaints">
        <th mat-header-cell *matHeaderCellDef>Жалобы</th>
        <td class="inline-border" mat-cell *matCellDef="let record">{{ record.complaints }}</td>
      </ng-container>

      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="inline-border" mat-cell *matCellDef="let record">
          <div class="icons-container">
            <mat-icon
              class="clickable"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
              (click)="deleteRecord(record)"
            ></mat-icon>
            <mat-icon
              class="clickable"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit"
              (click)="editRecord(record)"
            ></mat-icon>
          </div>
        </td>
      </ng-container>

      <tr class="gray-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="table-pages">
      <mat-icon class="clickable" (click)="previousPage()">keyboard_arrow_left</mat-icon>
      <p>{{ currentPage }} из {{ totalCountOfElements / PAGE_SIZE | ceil }}</p>
      <mat-icon class="clickable" (click)="nextPage()">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</main>
