main {
  padding: 10px 0 10px 0;
}

.options-panel {
  background: #C5E9FF;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
  padding: 15px 44px 15px 44px;
  display: flex;
  justify-content: space-between;
}

.options-panel__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 188px;
}
