<main>
  <img src="assets/images/building.svg" alt="main image" />
  <form class="form">
    <h1 class="form__form-header">Войти в систему</h1>
    <div class="form-block display-direction-column">
      <label class="form-items__item" for="login">Логин</label>
      <input
        id="login"
        class="form-input form-items__item"
        name="login"
        type="text"
        placeholder="Логин"
        [(ngModel)]="login"
      />
      <label class="form-items__item" for="password">Пароль</label>
      <input
        id="password"
        class="form-input form-items__item"
        name="password"
        type="text"
        placeholder="Пароль"
        [(ngModel)]="password"
      />
      <div class="form-block display-direction-column">
        <a
          id="login-btn-width"
          class="clickable text-align-center form-btn align-self-end form-input form-items__item"
          (click)="loginUser()"
          >Войти</a
        >
        <a class="clickable align-self-end form-link form-items__item" href="/registration">Зарегистрироваться</a>
      </div>
    </div>
  </form>
</main>
