<main>
  <img src="assets/images/building.svg" alt="main image" />
  <form class="form">
    <h1 class="form__form-header">Регистрация</h1>
    <div class="form-block display-direction-column">
      <label class="form-label" for="login">Логин</label>
      <input
        id="login"
        class="form-input form-items__item"
        name="login"
        type="text"
        placeholder="Логин"
        [(ngModel)]="login"
      />
      <label class="form-label form-items__item" for="password">Пароль</label>
      <input
        id="password"
        class="form-input form-items__item"
        name="password"
        type="password"
        placeholder="Пароль"
        [(ngModel)]="password"
      />
      <label class="form-label form-items__item" for="password-repeat">Повторите пароль</label>
      <input
        id="password-repeat"
        class="form-input form-items__item"
        name="password-repeat"
        type="password"
        placeholder="Повторите пароль"
        [(ngModel)]="repeatPassword"
      />
      <div class="form-block display-direction-column">
        <button class="clickable form-btn align-self-end form-input form-items__item" (click)="registerUser()">
          Зарегистрироваться
        </button>
        <a class="clickable form-link align-self-end form-items__item" routerLink="/login">Авторизоваться</a>
      </div>
    </div>
  </form>
</main>
