<div class="dialog">
  <div class="dialog-head">
    <h1 class="dialog-header">Изменить прием</h1>
  </div>
  <div class="dialog-body">
    <div>
      <p>Имя:</p>
      <input class="form-input fill-available" [(ngModel)]="data.record.patientFullName" type="text" />
    </div>
    <div>
      <p>Врач:</p>
      <select class="form-input select" [(ngModel)]="data.record.doctor">
        <option [ngValue]="null" disabled>Выберите врача</option>
        <option *ngFor="let doctor of data.doctors" [ngValue]="doctor.id">{{ doctor.fullName }}</option>
      </select>
    </div>
    <div>
      <p>Дата:</p>
      <input class="form-input" type="date" [ngModel]="data.record.receptionDate | date : 'yyyy-MM-dd'" />
    </div>
    <div>
      <p>Жалобы:</p>
      <textarea class="form-input large-input fill-available" [ngModel]="data.record.complaints"></textarea>
    </div>
  </div>
  <div class="dialog-footer" mat-dialog-actions>
    <button [mat-dialog-close]="false" class="form-input clickable form-focus-background">Отмена</button>
    <button
      class="form-input clickable form-focus-background"
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="submitEdit()"
    >
      Сохранить
    </button>
  </div>
</div>
